/* Main */
#root {
  margin: 0 auto;
  text-align: center;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  flex-grow: 1;
}

.title {
  font-size: 40px;
  position: relative;
  margin: 0px 0px 30px;
}

.divider {
  width: 400px
}

h3 {
  font-size: 20px;
  margin: 5px;
}

p {
  margin: 10px;
}

/* End of Main */


/* Logo */
.logo {
  width: 200px;
  position: relative;
  left: 100px;
  top: 10px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* End of Logo */


/* Header */
.header {
  background-color: white;
  border-bottom-color: #bdbdbd;
  border-width: thin;

}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #232f59;
  color: white
}

/* End of Header */


/* Forms */
.custom-form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.form-times {
  display: flex;
  margin: 10px;
  justify-content: space-around;

}

.ant-btn {
  background-color: #1D273D !important;

}

.header-btns {
  display: flex;
  align-items: center;
}

.admin-greet {
  position: relative;
  left: -100px;
}

/* End of Forms */


/* Calendar */
.fc-event {
  background-color: #36427A;
}

.fc {
  height: 700px;
}

.calender-div {
  margin: 30px;
}

.fc-timegrid-slot {
  height: 35px !important
}

.bookedNumbers {
  font-size: 10px;
  position: relative;
  top: 5px;
  display: flex;
  justify-content: flex-end;
}

.booked-out {
  background-color: #7c7f8d;
}

/* End of Calendar */


/* HomePage */
.home-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* End of homepage */


/* Modals */
.book-info {
  background-color: #1D273D;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-style: italic;
  margin: 10px;
}

.add-les-content {
  display: flex;
  align-items: center;
  padding: 20px;

}

.modal-title {
  font-size: 30px;
}

.modal-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  border-color: #1D273D;
}

.modal-shift {
  overflow: hidden !important;
}

.container {
  margin-top: 40px;
}

.book-logo {
  width: 175px
}

.log-btn:hover {
  background-color: #1D273D !important
}

.add-lesson-btn {
  background-color: #1E428A;
  margin: 10px
}

.btn-primary {
  background-color: #1D273D !important;
  margin: 15px;
}

.close {
  color: white !important
}

.close-add {
  color: #1D273D !important;
  font-size: 50px;
}

.button-div {
  position: relative;
  right: -180px;
}

/* End of Modals */

/* Profile */
.lesson-card {
  border-width: medium;
  padding: 40px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lesson-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.mini-img {
  width: 50px
}

.profile-title {
  font-size: 20px !important
}

/* End of Profile */


/* Footer */
.footer {
  background-color: #1D273D;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -100px;
  position: relative;
}

.footer-logo {
  width: 150px;
  position: relative;
}

.footer-btns {
  position: relative;
  right: 100px;
}

/* End of Footer */


/* Alerts */
.alert {
  margin: 15px 0px;
}

/* End of Alerts */